body{

  background-color:#0d0c1b;
  max-width:100%;
  padding-bottom:200px;
}

body,
.edit-textarea, .edit-textarea:focus, .edit-textarea:active,
.edit-input, .edit-input:focus, .edit-input:active{
   font-family:Arial, sans-serif;
   font-size: 18px;
   color:#9f8aa5;
}

/*start loaded folder browse*/
ul.loaded-content{
  margin:0;padding:0;font-size:0;
  text-align:left;
}

ul.loaded-content.wrap{
display:block;
padding:20px;
padding-bottom:200px;
}

ul.loaded-content.wrap:hover{
background-color:rgba(255,255,255,.03);
}

ul.loaded-content ul.loaded-content{
  padding-left:28px;display:none;
}

li.open > ul.loaded-content{
  display:block;
}

ul.loaded-content li{
  list-style:none;
  font-size:18px;line-height:26px;
  font-weight:700;
  display:block;;
  position:relative;
}

ul.loaded-content li span.file-name{
  cursor:pointer;
}

ul.loaded-content li[data-type="d"]{

}

ul.loaded-content li[data-type="d"].new-folder{
border:dashed 3px #ffaaf9;padding:5px;opacity:.7;
}

ul.loaded-content li[data-type="f"]{
  color:#8d92de;font-weight:200;
}

ul.loaded-content li .file-icon{
  display:inline-block;width:22px;height:22px;margin-right:6px;
  vertical-align:top;
}

ul.loaded-content li.new-folder > .file-icon svg path{
fill:#ffaaf9;
}

ul.loaded-content li input.set-file-name{
width:100%;
position:absolute;
top:0;
right:0;
left:0;
margin:auto;
box-sizing:border-box;
-moz-box-sizing:border-box;
border:none;
outline:none;
border-left:solid 32px transparent;
background-color: transparent;
color:#ffaaf9;
font-size:18px;
line-height: 29px;
height: 29px;
}

ul.loaded-content li .file-icon svg path{
  fill:#586e75;
}

ul.loaded-content li[data-type="d"].open > .file-name .file-icon svg path{
  fill:#678690;
}

ul.loaded-content li[data-type="f"] > .file-name .file-icon svg path{
  fill:#8d92de;
}

ul.loaded-content li[data-type="d"] > .file-name{
padding:2px;display:block;
}

ul.loaded-content li[data-type="d"] > .file-name.renaming{
display:inline-block;font-size:0;
}

ul.loaded-content li[data-type="d"] > .file-name.selected-dir:not(.renaming){
background-color:#223238;color:#bad2da;
}

ul.loaded-content li[data-type="d"] > .file-name.selected-dir .file-icon svg path{
fill:#bad2da;
}

ul.loaded-content li[data-type="d"]:not(.parent) > .file-name:not(.set-file-name){
  opacity:.4;
}

ul.loaded-content li[data-type="d"].new-folder:not(.parent) > .file-name{
opacity:.7;
}

ul.loaded-content li[data-type="d"] > .file-name .file-icon .open,
ul.loaded-content li[data-type="d"].open > .file-name .file-icon .close{
  display:none;
}

ul.loaded-content li[data-type="d"].open > .file-name .file-icon .open{
  display:block;
}
/*end loaded folder browse*/

textarea{
resize:none;
}

.edit-textarea.editing:not(.init-syntaxler), .edit-textarea.editing:not(.init-syntaxler):focus,
.edit-textarea.editing:not(.init-syntaxler):active,
.edit-input.editing, .edit-input.editing:focus, .edit-input.editing:active{
color:#f4aaf9;
}

body.mode-edit{
background-color: #1a0e1d;
}

body.open-popup{
display:block;position:fixed;top:0;left:0;right:0;bottom:100px;
overflow:hidden;
}

::selection {
background: #caa2c4;
color:#a6a2ab;
}

input::selection {
background: #7c6396;
color: #000000;
}


body > *{
  max-width:100%;
}

.save-as-wrap{
margin-bottom:20px;border:solid 1px #392a3e;
background-color:#10060f;padding:15px;
position:relative;
}

.save-as-wrap .delete-page-btn.disabled{
display:none;
}

.save-as-wrap .delete-page-btn{
position:absolute;right:10px;top:10px;
color:#ffaaf9;
cursor:pointer;font-size:14px;line-height:27px;
}

.save-as-wrap .delete-page-btn svg path{
  fill:#ffaaf9;
}

.save-as-wrap .delete-page-btn svg{
  display:inline-block;width:24px;height:24px;
  vertical-align:middle;margin-right:6px;
}

.save-as-wrap .folder-scope-wrap,
.save-as-wrap .file-id-wrap{
display:block;position:relative;height:40px;line-height:40px;
}

.save-as-wrap label{
position:absolute;
left:0;
top:0;
bottom:0;
margin:auto;
line-height:inherit;
width: 75px;
font-size: 14px;
}

.save-as-wrap label svg{
display:inline-block;width:25px;vertical-align:middle;
position:absolute;right:0;top:0;bottom:0;margin:auto;
}

.save-as-wrap label svg path{
fill:#9688a5;
}

.save-as-wrap input,.save-as-wrap input:focus{
box-sizing:border-box;-moz-box-sizing:border-box;
width:100%;border-left:solid 75px transparent;
display:block;height:100%;line-height:inherit;
padding:0 7px;
}

.save-as-wrap input.rename_pending,.save-as-wrap input.rename_pending:focus{
background-color:#2d1e31;
}

.main-title, textarea.main-title, textarea.main-title:focus{
font-size:35px;
font-weight:bold;
line-height:37px;
margin-bottom: 20px;
min-height: 40px;
}

textarea.section-content, textarea.section-content:focus{
margin-bottom: 25px;
height: 231px;
}

h2, .section-title, .section-title:focus{
font-size:25px;
font-weight:bold;
line-height:31px;
margin-bottom: 20px;
min-height: 31px;
}

body:not(.mode-edit) .section-title{
margin-top:100px;
color:#9be4d4;
border:solid 1px #40524e;
background-color:#070f08;
padding:5px 10px;
}

h2 > svg{
display:inline-block;
width:23px;height:23px;
vertical-align:top;
margin-right:5px;
}

h2 > svg path{
fill:#9f8aa5;
}

.overview .section-title, .overview .section-title:focus,
.overview .section-id, .overview .section-id:focus{
display:inline-block;
width:100%;
height:40px;
box-sizing:border-box;
border-left: solid 122px transparent;
margin:0;
font-size:16px;
font-weight:normal;
letter-spacing:2px;
margin-bottom: 3px;
}

.overview .section-id{
font-size:14px;color:#634c69;padding-left:10px;
}

.overview  li{
position:relative;
}

.mode-edit .overview li{
font-size:0;list-style:none;
padding:0;margin:0;
}
.mode-edit .overview li > *{
display:inline-block;vertical-align:top;
}

.mode-edit .overview li > .section-title{
box-sizing:border-box;
-moz-box-sizing:border-box;
width:100%;
border-left: solid 210px transparent;
border-right:solid 35px transparent;
padding-left: 10px;
}

.mode-edit .overview li > .section-btns,
.mode-edit .overview li > .delete-section-btn
{
position:absolute;
top:0;
bottom: 3px;
margin:auto;
}

.mode-edit .overview li > .section-btns{
left:0;
width: 207px;
}

.mode-edit .overview li > .section-btns .move-section{
box-sizing:border-box;-moz-box-sizing:border-box;
position:absolute;left:0;width:50px;
}

.mode-edit .overview li > .section-btns .section-id{
box-sizing:border-box;
-moz-box-sizing:border-box;
width:100%;
border-left:solid 53px transparent;
border-right: solid 3px;
}

.mode-edit .overview li > .delete-section-btn{
right:0;
}

.edit-btn.move-field,
.edit-btn.move-section{
cursor:move;
}

a, a:active, a:visited, a:hover{
color:#ffaaf9;text-decoration: none;
}

a:hover{
color:#f382ea;
}

a:active{
color:#f1beed;
}


ul li, ol li{
  line-height:20px;
}

.outcome{
margin-bottom:20px;
}

.token-wrap .overview{
  text-align: right;
}

.token-wrap token{
box-sizing:border-box;
-moz-box-sizing:border-box;
background-color: #00b8ff2e;
box-shadow: inset 0 0 2px #ffffff40;
text-shadow: 0 0 0px #efce92;
cursor: pointer;
}

.token-wrap token:hover{
background-color:#d62248cf;
box-shadow: inset 0 0 2px #ffffff40;
color:#ccabd8;
}

.overview h2{
  text-align: left;
}

.overview ul{
  text-align: left;
}

.mode-edit .overview ul{
padding:0;
display: block;
position:relative;
}

.overview li a{
  letter-spacing: 2px;
}

.search-terms, code{
  background-color:#080710;
  border:solid 1px #392a3e;
  padding:0 15px;
  box-sizing:border-box;
  display:block;
  margin-bottom: 15px;
}

body.mode-edit .search-terms, body.mode-edit code{
background-color:#10060f;
}

.file-out-wrap{
margin-top:60px;
}

.file-out-wrap h2{
color:#b373a9;
padding: 10px 10px;
}

.file-out-wrap .file-out-root{
padding: 0 10px;
margin-bottom:20px;
box-sizing:border-box;
-moz-box-sizing:border-box;
position:relative;
}

.file-out-wrap .file-out-root label{
display:block;
position:absolute;
left: 30px;
font-size:20px;
top:9px;
color: #333058;
font-weight:bold;
}

.file-out-wrap .file-out-root .root-input{
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
font-size:20px;
line-height:40px;
height:40px;
padding:0 10px;
border:none;
outline:none;
background-color: #171529;
color:#716dab;
border-radius:5px;
border-left:solid 70px transparent;
border-right: solid 57px transparent;
letter-spacing:2px;
}
.file-out-wrap .file-out-root .root-status{
width:50px;
height:40px;
display:block;
position:absolute;
top:0;
right: 13px;
}

.file-out-wrap .file-out-root .root-status span{
display:block;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
}

.file-out-wrap .file-out-root .root-status span svg{
display:block;
width:27px;
height:27px;
position:absolute;
top:0;
bottom:0;
right:0;
left:0;
margin:auto;
}

.file-out-wrap .file-out-root .root-status span svg path{
fill:#323d71;
}

.file-out-wrap.valid-root .file-out-root .root-status span svg path{
fill:#b173a9;
}

.file-out-wrap.valid-root .file-out-root .root-status span.bad,
.file-out-wrap:not(.valid-root) .file-out-root .root-status span.good{
display:none;
}

.file-out-wrap .file-out-root .root-input::selection{
background-color:#5a51ab;
color:#8e8ac3;
}

.file-out-wrap .file-out-root .root-input::placeholder{
color:#333058;
font-style:italic;
}

.file-out-wrap h2 svg path{
fill:#b373a9;
}

.file-out-wrap .file-out-btns{
padding: 0 10px;
}

.file-out-wrap .file-out-btns{
margin-top:40px;text-align:center;
}

.file-out-wrap .file-out-btns p{
text-align:center;
font-style:italic;
color:#55405a;
}

.file-out-wrap .file-out-btns > div{
cursor:text;

display:inline-block;

font-size:18px;
font-weight:bold;
padding:10px 20px;
border-radius:5px;
min-width:200px;
text-align:center;
background-color:#171528;
color:#313042;
border:solid 2px #313042;

    -webkit-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -ms-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.file-out-wrap.valid-root .file-out-btns > div{
background-color:#b273a9;
color:#070710;
border:solid 2px #392a3d;
cursor:pointer;
}

.file-out-wrap.valid-root .file-out-btns > div:hover{
background-color:#0d0c1b;
border:solid 2px #b273a9;
color:#b273a9;
}

.file-out-wrap .file-out-btns .write-out-btn{

}

.file-out-wrap .file-out-list .out-file{
padding:5px 20px;
}

.file-out-wrap .file-out-list .out-file{
position:relative;
border-left:dashed 1px #6d4d75;
}

.file-out-wrap .file-out-list .out-file:before{
content:"";
position:absolute;
left:0;
top:15px;
margin:auto;
border-top:dashed 1px #6d4d75;
height:1px;
width:18px;
}

.file-out-wrap .file-out-list > .out-file.dir{
border-left:none;
}

.file-out-wrap .file-out-list > .out-file:before{
display:none;
}

.file-out-wrap .file-out-list .out-file > .name{
display:inline-block;
}

.file-out-wrap .file-out-list .out-file.dir > .name{
color:#6d4d75;
}

.file-out-wrap .file-out-list .out-file.file > input[type="checkbox"]{
cursor:pointer;
width:15px;
height:15px;
display:inline-block;
vertical-align:top;
}

.file-out-wrap .file-out-list .out-file.file > .name{
color:#ffaaf9;
}

.file-out-wrap .file-out-list .out-file.file > .name:after{
content:"";display:none;
font-size:12px;
line-height:inherit;
vertical-align:top;
padding:5px;
margin-left:5px;
background-color:#171528;
color:#546dab;
border-radius:5px;
}

.file-out-wrap .file-out-list .out-file.file > .name[data-result="no-change"]:after{
display:inline-block;
content:" skipped existing";
}

.file-out-wrap .file-out-list .out-file.file > .name[data-result="modify-not-allowed"]:after{
display:inline-block;
content:" skipped, revert changes not allowed";
}

.file-out-wrap .file-out-list .out-file.file > .name[data-result="created"]:after{
display:inline-block;
content:" created";
background-color:#182517;
color:#86ab54;
}

.file-out-wrap .file-out-list .out-file.file > .name[data-result="modified"]:after{
display:inline-block;
content:" modified";
}

.file-out-wrap .file-out-list .out-file.file > .name[data-result="error"]:after{
display:inline-block;
content:" skipped, cannot modify";
 background-color:#541c1c;
color:#c3aea8;
}

.file-out-wrap .file-out-list .out-file.file > .name[data-result="deactivated"]:after{
display:inline-block;
content:" skipped deactivated";
background-color:#281515;
color:#ab7b54;
}

.file-out-wrap .file-out-list p{
font-style:italic;
color:#55405a;
}

.token-wrap{
display:block;min-height:500px;
text-align:right;
}

.token-wrap > *{
text-align:left;
}

code{
  overflow:auto;
  white-space: nowrap;max-width:100%;
  padding:15px;
  font-size:18px;
  position:relative;
}

body::-webkit-scrollbar, code::-webkit-scrollbar, textarea::-webkit-scrollbar {
width: 10px;
height:10px;
background-color: transparent;
padding:5px;
}

body::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
border-radius:3px;
background-color: #232044;
}

body::-webkit-scrollbar-corner, code::-webkit-scrollbar-corner, textarea::-webkit-scrollbar-corner{
display:none;
}

.fields .popup .inner-content::-webkit-scrollbar{
width: 5px;
height:5px;
background-color: transparent;
padding:5px;
}

.fields .popup .inner-content::-webkit-scrollbar-thumb{
border-radius:3px;
background-color: #ffaaf9;
}

.fields .popup .inner-content::-webkit-scrollbar-corner{
display:none;
}

code:after{
content:"";
display:none;
position:absolute;
top:20;
right:0;
left:0;
margin:auto;
width:150px;
text-align:center;
height:26px;
line-height:26px;
font-size:20px;
background-color:#ff87a3;
color:#080710;
font-weight:bold;
letter-spacing:2px;
box-shadow: -3px 3px 3px #000;
}

code.copied:after{
content:"copied";display:block;
}

.edit-textarea, .edit-textarea:focus, .edit-textarea:active,
.edit-input, .edit-input:focus, .edit-input:active{
display:block;width:100%;
border:none;
outline:none;
background-color:transparent;
}

.edit-input::selection{
  background-color: #cdc4d6;
}

.edit-textarea, .edit-textarea:focus, .edit-textarea:active{
  min-height:30px;
}

.edit-textarea.terms{
font-style:italic;
}

.fields-wrap{
margin-bottom:20px;text-align:right;
}

.fields-wrap h2{
text-align:left;
}

.fields-wrap > .edit-btn{
margin-top:20px;
}

.fields{
  display:block;font-size:0;text-align:left;
  position:relative;
}

.field{
font-size:16px;display:block;width:100%;
border:solid 1px #392a3e;
box-sizing:border-box;
padding:15px;position:relative;
text-align:left;
}

.field[data-token]{
  display:inline-block;
  width:50%;
  vertical-align: top;
}

body.mode-edit .field{
padding-top: 51px;width:100%;
background-color:#1b0f1d;
position:relative;right:0;left:0;margin:auto;
}

body.mode-edit .field.ui-sortable-helper{
border:solid 1px #ffaaee;
}

body.mode-edit .field .edit-btn{
position:absolute;
top: 3px;
}

.edit-btn,.btn{
padding: 10px;
cursor:pointer;
background-color:#392a3e;
display: inline-block;
vertical-align: top;
font-size:16px;
font-weight:normal;
margin-right: 3px;
}

.btn{
 min-width:150px;text-align:center;
}

.btn:last-child{
 float:right;
}

.move-field{
left: 15px;
}

.edit-field{
left: 61px;
}

.copy-token{
left: 110px;background-color:#2d1e31;
color:#8a517e !important;
}

.remove-field{
right: 15px;
}

.field [data-token]{
  font-size:16px;
  line-height:24px;
  height:24px;
  padding:0 5px;display:inline-block;
  width:65%;
  margin: 0;
  background-color:#9688a5;
  color:#080710;
  font-weight:bold;
  border:none;
}

.field [data-token][type="checkbox"]{
width:24px;
cursor:pointer;
}

.field [data-token],
.field [data-token]:focus{
border:none;
outline:none;
}

.field [data-token].editing{
background-color:#bb8296;
box-shadow:inset 0 0 15px rgba(145, 0, 241, 0.5);
}

.field label{
display:inline-block;
width:35%;
font-size:14px;
vertical-align: top;
}

.replaced-token{
background-color: #2f2333;
box-shadow: inset 0 0 8px rgba(209, 32, 220, 0.7);
}

.fields .popup{
position:relative;display:inline-block;
border:solid 1px;
border-radius:9px;
vertical-align:top;
height:16px;
width:16px;
line-height:16px;
margin:0 8px;
overflow:visible;
cursor:pointer;
z-index:98;
}

.fields .popup .icon{
display:inline-block;
width:100%;height:100%;
line-height:inerit;
border-radius:inherit;
}
.fields .popup .icon:before{
display:block;width:100%;height:100%;
text-align:center;font-weight:bold;
line-height:inerit;
}

.fields .popup.help .icon:before{
content:"?";
}

.fields .popup:hover .icon{
background-color: #ffaaf9;
}

.fields .popup:hover .icon:before{
color:#0d0c1b;
}

.fields .popup .content{
  display:none;
  z-index:98;
  position:absolute;
  left: -4px;
  top: -141px;
  padding: 30px;
}

.fields .popup .inner-content{
  z-index:98;
  display:block;
  background:#080710;
  box-sizing:border-box;
  padding:10px;
  border-radius: 10px 20px 10px 20px;
  border: solid 2px #ffaaf9;
  box-shadow:-3px 3px 3px #000;
  width: 350px;
  height: 100px;
  font-size: 17px;
  line-height: 20px;
  overflow:auto;
}

.fields .popup .value-examples{
  display:block;margin-top:5px;
}

.fields .popup .value-examples a:after{
  content",";
}

.fields .popup .value-examples a:last-child:after{
  content:"";
}

.fields .popup:hover .content:before{
content:"";
display:block;
width: 0;
height: 0;
border-style: solid;
border-width: 10px 7.5px 0 7.5px;
border-color: #ffaaf9 transparent transparent transparent;
position:absolute;
left: 21px;
bottom: 21px;
z-index:1;
transform: rotate(45deg);
}

.fields .popup:hover .content{
display:block;
}

/*MENU*/

body.has-menu{
  padding-top:50px;
}

.menu{
  height:40px;
  line-height:40px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:auto;
  display:block;
  width:100%;
  background-color:#0d0c1b;
  border-bottom:solid 1px #392a3e;
  box-shadow:0 0 10px #080710;
  z-index: 99;
}



.menu ul{
padding:0;margin:0;
display:block;
}

.menu .menu-ul{
  display:block;
  font-size:0;
  line-height:inherit;height:inherit;
  box-shadow:inset 0 0 20px #232044;
  padding:0 10px;
}

.menu-ul ul{

}

.menu-ul li{
  font-size:18px;list-style:none;
}

.menu-ul li.hidden{
display:none;
}

.menu-ul li .label{
  color:#66536b;
  cursor:pointer;
  display: block;
  position:relative;
  text-shadow:0 0 1px #392a3e;
  font-weight:bold;
}

.menu-ul li .menu-icons{
display:inline-block;
width:24px;
line-height:inherit;
height: 100%;
position:relative;
vertical-align: top;
margin-right:7px;
}

.menu-ul li .menu-icons .menu-icon{
display:block;position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;
}

body:not(.save-pending) .menu-ul li .menu-icons.save_pending{
display:none;
}

.menu-ul li .menu-icons .menu-icon svg{
display:block;width:100%;line-height:inherit;height:inherit;
position:absolute;top:0;right:0;left:0;bottom:0;margin:auto;
}

.menu-ul li .menu-icons .menu-icon svg path{
fill:#c87ddc;
}


.menu-ul li .label:hover{
background-color:#ffaad5;
color:#080710;
box-shadow:inset 0 0 20px #d80e75;
}

.menu-ul li .label:hover .menu-icons .menu-icon svg path{
fill:#392a3e;
}


.menu-ul li.has-children > ul{
position:absolute;
}

.menu-ul li.has-children:hover > ul{
display:block;
}

/*MENU LEVEL 0*/

.menu-ul li.l0{
  line-height:inherit;
  display:inline-block;
  border-right:solid 1px #392a3e;
}

.menu-ul li.l0:hover{
background-color:#392a3e;
}

.menu-ul li.l0 > .label{
    padding: 0 15px;
}

.menu-ul li.l0:hover > .label:not(:hover){
color:#c87ddc;
}

.menu-ul li.l0:hover > .label:not(:hover) .menu-icons .menu-icon svg path{
fill:#c87ddc;
}

.menu-ul li.l0.has-children > .label{
padding-right:30px;
}

.menu-ul li.l0.has-children > .label:after{
content:"";display:block;
position:absolute;top:2px;right:10px;bottom:0;margin:auto;
width: 0;height: 0;
border-style: solid;
border-width: 15px 6px 0 6px;
border-color: #392a3e transparent transparent transparent;
}

.menu-ul ul.l0{

}

/*MENU LEVEL 1*/

.menu-ul li.l1 > .label{
height:31px;line-height:31px
}

.menu-ul li.l1{
  border-bottom:solid 1px #56445d;
}

.menu-ul ul.l1{
  display:none;
  background-color:#392a3e;
  top:100%;min-width:200px;
  border:solid 1px #080710;
  border-top:none;
  box-shadow:-2px 5px 10px #080710;
}

.menu-ul li.l1[data-id="save"]{
display:none;
}

body.save-pending .menu-ul li.l1[data-id="save"]{
display:block;
}


.menu-ul li.l1:last-child{
border-bottom:none;
}

.menu-ul li.l1 > .label{
padding:5px 15px;
color:#9688a5;
}

.menu-ul li.l1 > .label:hover{
color:#080710;
}

.popups{
color:#308093;
}

.popups .popup{
  display:none;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;
  background-color:#0f1a1d;z-index:100;box-sizing:border-box;-moz-box-sizing:border-box;
}

.popups .btn{
background-color:#0a0f13;
color:#308094;
border:solid 1px #233033;
box-shadow:inset 0 0 20px #04070a;
}

.popups .btn.btn-ok{
visibility:hidden; cursor:text;
}

.popups .popup.save-pending .btn.btn-ok{
visibility:visible;cursor:pointer;
}

.popups .popup.open .popup-body .btn.disabled{
visibility:hidden; cursor:text;
}

.popups .popup .btn .btn-icon{
display:inline-block;width:15px;height:15px;margin-right:3px;
}

.popups .popup .btn .btn-icon svg path{
fill:#308094;
}

.popups .popup .btn.btn-ok:not(:hover){
color:#ffaaf9;
}

.popups .popup .btn.btn-ok .btn-icon svg path{
fill:#ffaaf9;
}

.popups .btn:hover{
background-color:#308093;
color:#0a0f13;
box-shadow:inset 0 0 20px #334454;
border:solid 1px #0a0f13;
font-weight:bold;
}

.popups .popup .btn:hover .btn-icon svg path{
fill:#0a0f13;
}

.popups .popup.open:not([data-referrer]){ display:block; }

.popups .popup-head{

}

.popups .popup-head > *,
.popups .popup-btns,
.popups .popup-content{
  padding:0 20px;
}

.popups .popup-title{
font-size:30px;line-height:40px;
background-color:#091013;
box-shadow:inset 0 0 20px #04070a;
border-bottom:solid 1px #233133;
text-align:center;
white-space:nowrap;overflow:hidden;
}

.popups .popup-summary{
margin-top:10px;margin-bottom:10px;
line-height:24px;font-size:16px;
text-align:center;
white-space:nowrap;overflow:hidden;
}

.popups .popup-content{
position:fixed;top:146px;left:0;right:0;
bottom:61px;overflow:auto;
overflow-y: scroll;
overflow-x:hidden;
color:#51b1c7;font-size:16px;line-height:22px;
background-color:#0d1619;
}

.popups .popup-content.noscroll{
overflow:hidden;
}

.popups .popup.dragging .popup-content,
.popups .popup.dragging .popup-content.noscroll,
.popups .popup.dragging .contentWrap{
  overflow:visible;
overflow-x:visible;
  overflow-y:visible;
}

.popups .popup-content .browse-wrap::-webkit-scrollbar,
.popups .popup-content::-webkit-scrollbar,
.popups .editFieldsWrap .contentWrap::-webkit-scrollbar,
.popups .editVariationsWrap .var-listing::-webkit-scrollbar,
.popups .editVariationsWrap .code-scroll::-webkit-scrollbar {
width: 10px;
height:10px;
background-color: transparent;
padding:5px;
}

.popups .popup-content .browse-wrap::-webkit-scrollbar-thumb,
.popups .popup-content::-webkit-scrollbar-thumb,
.popups .editFieldsWrap .contentWrap::-webkit-scrollbar-thumb,
.popups .editVariationsWrap .var-listing::-webkit-scrollbar-thumb,
.popups .editVariationsWrap .code-scroll::-webkit-scrollbar-thumb {
border-radius:3px;
background-color: #308093;
}

.popups .popup-content .browse-wrap::-webkit-scrollbar-corner,
.popups .popup-content::-webkit-scrollbar-corner,
.popups .editFieldsWrap .contentWrap::-webkit-scrollbar-corner,
.popups .editVariationsWrap .var-listing::-webkit-scrollbar-corner,
.popups .editVariationsWrap .code-scroll::-webkit-scrollbar-corner
{
display:none;
}

.popups .popup-btns{
padding-top:10px;padding-bottom:10px;
box-sizing:border-box;-moz-box-sizing:border-box;
border:solid 1px #315058;
border-left:none;
border-right:none;
}

.popups .popup-btns.top{
border-top:none;
}

.popups .popup-btns.bottom{
position:absolute;bottom:0;right:0;left:0;margin:auto;
border-bottom:none;
}

/*+ add/edit fields*/

.popups .editFieldsWrap{
position:absolute;
left:0;top:0;bottom:0;right:0;margin:auto;
box-sizing:border-box;-moz-box-sizing:border-box;
display:block;font-size:0;
}

.popups .editFieldsWrap .globalWrap,
.popups .editFieldsWrap .localWrap{
display:inline-block;vertical-align:top;position:relative;
width:50%;height:100%;top:0;bottom:0;margin:auto;
box-sizing:border-box;-moz-box-sizing:border-box;
font-size: 16px;
}

.popups .drag-local .editFieldsWrap .globalWrap.drop-hover,
.popups .drag-global .editFieldsWrap .localWrap.drop-hover{
background-color:#000000;opacity:.5;
}

.popups .editFieldsWrap .globalWrap{
border-right:solid 1px #315058;
}

.popups .editFieldsWrap .localWrap{
}

.popups .editFieldsWrap .titleWrap,
.popups .editVariationsWrap .titleWrap{
position:relative;top:0;left:0;right:0;margin:auto;
font-size:22px;line-height:32px;height:32px;
background-color:#315058;
color:#0a0f13;text-transform:uppercase;
text-align:center;font-weight:600;
}

.popups .editFieldsWrap .titleWrap span,
.popups .editVariationsWrap .titleWrap span{
font-size:22px;line-height:32px;height:32px;displayy:inline-block;vertical-align:top;
}

.popups .editFieldsWrap .titleWrap svg,
.popups .editVariationsWrap .titleWrap svg{
height:23px;
width:23px;line-height:inherit;
display:inline-block;vertical-align:middle;
margin-right:3px;
margin-top:3px;
}

.popups .editFieldsWrap .titleWrap svg path,
.popups .editVariationsWrap .titleWrap svg path{
fill:#0f1a1d;
}

.popups .editVariationsWrap .titleWrap svg.local path{
fill:#ffaaf9;
}

.popups .editFieldsWrap .contentWrap{
  position: absolute;
  top: 32px;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  overflow: auto;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding:15px;
}

.popups .editFieldsWrap .contentWrap .accordian-btn,
.popups .editFieldsWrap .contentWrap .id,
.popups .editFieldsWrap .add-new-field{
display:inline-block;
vertical-align: middle;
  line-height:22px;
  height: 22px;
  vertical-align:  middle;
  position:relative;
}

.popups .editFieldsWrap .localWrap .new-field-wrap,
.popups .editFieldsWrap .localWrap .add-html-btn{
vertical-align:top;display:inline-block;
}

.popups .editFieldsWrap .new-field-wrap,
.popups .editFieldsWrap .localWrap .add-html-btn{
margin-top:20px;height:44px;line-height:44px;
}

.popups .editFieldsWrap .localWrap .new-field-wrap{
width:75%;
}

.popups .editFieldsWrap .localWrap .add-html-btn{
width:25%;text-align:center;white-space:nowrap;
font-weight:bold;cursor:pointer;
}

.popups .editFieldsWrap .contentWrap .delete-btn,
.popups .editVariationsWrap .delete-variation-btn{
display:block;position:absolute;right:0;top:0;margin:auto;
width:20px;height:20px;cursor:pointer;text-align:center;;border-radius:12px;
opacity:.3;
}

.popups .editFieldsWrap .contentWrap .delete-btn:after,
.popups .editVariationsWrap .delete-variation-btn:after{
content:"X";font-size:13px;line-height:22px;
color:#ffaaf9;text-align:center;display:inline-block;
font-weight:bold
}

.popups .editFieldsWrap .contentWrap .delete-btn:hover,
.popups .editVariationsWrap .delete-variation-btn:hover{
background-color:#ffaaf9;;opacity:1;
}

.popups .editFieldsWrap .contentWrap .delete-btn:hover:after,
.popups .editVariationsWrap .delete-variation-btn:hover:after{
color:#0d1719;
}

.popups .editFieldsWrap .contentWrap .accordian-btn{
width:20px;
cursor:pointer;
}

.popups .editFieldsWrap .contentWrap .id{
cursor:move;
font-weight: bold;
position:relative;
}

.popups .editFieldsWrap .contentWrap .accordian-btn:after{
content:"";display:inline-block;
width: 0;height: 0;
border-style: solid;
border-width: 5px 0 5px 10px;
border-color: transparent transparent transparent #51b1c7;
position:absolute;top:0;bottom:0;margin:auto;
}

.popups .editFieldsWrap .contentWrap .field-item,
.popups .field-item .field-config .prop:nth-child(even){
  -webkit-transition: background-color .5s linear, border .5s linear;
  -moz-transition: background-color .5s linear, border .5s linear;
  -ms-transition: background-color .5s linear, border .5s linear;
  -o-transition: background-color .5s linear, border .5s linear;
  transition: background-color .5s linear, border .5s linear;
}

.popups .editFieldsWrap .contentWrap .field-item.dropped-field,
.popups .field-item.dropped-field .field-config .prop:nth-child(even) {
background-color: #1c383e;
}

.popups .editFieldsWrap .contentWrap .field-item{
  border:solid 1px transparent;
}

.popups .editFieldsWrap .contentWrap .field-item.highlight{
border:solid 1px #ffaaf9;
}

.popups .editFieldsWrap .contentWrap .field-item.dropped-field{
  border:solid 1px #51b1c7;position:relative;
}

.popups .editFieldsWrap .contentWrap .field-item.dropped-field:before{
content:"added";display:block;
background-color:#51b1c7;color:#0a0f13;
position:absolute;left:0;right:0;margin:auto;width:100px;
text-align:center;height:20px;line-height:20px;font-weight:800;
font-size:16px;top:-10px;z-index:999;
}

.popups .editFieldsWrap .contentWrap .field-item.accordion-open .accordian-btn:after{
border-width: 10px 5px 0 5px;
border-color: #51b1c7 transparent transparent transparent;
}

.popups .editFieldsWrap .contentWrap .field-item .field-id{
position:relative;
}

.popups .editFieldsWrap .contentWrap .field-item.plain-html{
padding-top:5px;padding-bottom:5px;
}

.popups .editFieldsWrap .contentWrap .field-item .field-id .move-html{
cursor:move;
}

.popups .editFieldsWrap .contentWrap .field-item.ui-sortable-helper,
.popups .editFieldsWrap .contentWrap .field-item.ui-draggable-dragging{
border:solid 1px #ffaaf9;z-index:9999;position:fixed;background-color:#0d1719;
}

.popups .field-config{
display:none;padding-bottom:20px;
}

.popups .field-item.accordion-open .field-config{
display:block;
}

.popups .field-config .prop{
display:block;
font-size:0;
box-sizing:border-box;
-moz-box-sizing:border-box;
padding-left:20px;
border:solid 1px transparent;
}

.popups .field-config .prop.disabled{
display:none;
}

.popups .field-config .prop:nth-child(even){
background-color:#1a292d;
}

.popups .field-config .prop > *{
font-size:16px;
box-sizing:border-box;-moz-box-sizing:border-box;
vertical-align:top;
display:inline-block;
}

.popups .field-config .prop label{
opacity:.6;
width:20%;
text-align: right;
padding-right: 20px;
}

.popups .field-config .prop .ctl{
width: 69%;
}

.popups .field-config .prop .scope{
width: 11%;
position:relative;
height: 26px;
}

.popups .field-config .prop.local .scope{
cursor:pointer;
}

.popups .field-config .prop .scope > *{
display:none;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;
max-width:100%;max-height:100%;width:20px;height:20px;
}

.popups .field-config .prop .scope svg path{
fill:#51b1c7;
}

.popups .field-config .prop .scope svg.local path,
.popups .field-config .prop.override .scope svg.global path{
fill:#ffaaf9;
}

.popups .field-config .prop.not-set.override .scope > .not-set:after{
background-color:#ffaaf9;opacity:1;
}

.popups .field-config .prop.global .scope > .global,
.popups .field-config .prop.local .scope > .local,
.popups .field-config .prop.not-set .scope > .not-set{
display:block;
}

.popups .field-config .prop.not-set .scope > .not-set:after{
content:"?";text-align:center;display:block;
background-color:#51b1c7;
color:#0d1719;font-weight:900;
border-radius:10px 0 10px;font-size:20px;
opacity:.5;
}

.popups .field-config .prop input[type="text"],
.popups .field-config .prop select{
width:100%;
display:block;
font-size:16px;
line-height:24px;
height:24px;
padding:0;
margin: 0;
background-color: transparent;
color: #308093;
font-weight:bold;
border:none;
outline:none;
text-indent: 0;
}

.popups .field-config .prop select{
  border: solid 1px;
  background-color: rgba(255,255,255,.1);
  cursor:pointer;
}

.popups .field-config .prop input[type="text"]::placeholder{
font-weight:100;font-style:italic;
color:#2f4c56;
}

.popups input::selection {
background: #fbd6f8;
color:#000000;
}

.popups .field-config .edit-list-wrap{
position:relative;
}

.popups .field-config .edit-list-wrap .click-bar{
  cursor:pointer;font-style: italic;
}

.popups .field-config .edit-list-wrap .edit-area{
position:absolute;
left:-10000px;
top:-10000px;
display:block;
width:100%;
resize:none;
min-height:150px;
z-index:200;
background-color:#658188;
border:solid 2px #0a0f13;
padding: 5px 15px;
font-size:16px;
line-height:25px;
color:#0f1a1d;
font-weight:bold;
outline:none;
cursor:pointer;
white-space: nowrap;
}

.popups .field-config .edit-list-wrap.show .edit-area{
left:0;top:100%;
}

.popups .field-config .variations-ctl .variations-btn{
font-weight:100 !important;font-style:italic;cursor:pointer;
}

.popups .field-config .variations-ctl .variations-btn:hover{
color:#ffaaf9;
}

/*variations edit page*/

.popups .editVariationsWrap{
position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;
box-sizing:border-box;-moz-box-sizing:border-box;
}

.popups .editVariationsWrap .titleWrap{
text-transform:none;
}

.popups .editVariationsWrap:not(.no-variations) .titleWrap .prefix,
.popups .editVariationsWrap:not(.no-variations) .titleWrap .variation-key{
color:#ffaaf9;
}

.popups .editVariationsWrap.no-variations .titleWrap .variation-key:after{
content:'????';font-style:italic;
font-size:80%;opacity:.5;
}

.popups .editVariationsWrap .contentWrap{
position:absolute;left:0;top:32px;right:0;bottom:0;margin:auto;
}

.popups .editVariationsWrap .var-listing,
.popups .editVariationsWrap .var-screens{
position:absolute;top:0;bottom:0;margin:auto;
box-sizing:border-box;-moz-box-sizing:border-box;
padding:20px
}

.popups .editVariationsWrap .var-listing{
left:0;width:200px;border-right:solid 1px #315058;
overflow-y:auto;
}

.popups .editVariationsWrap .var-listing .variation-list-btn{
cursor:pointer;background-color:#0a0f13;border:solid 1px #233133;
font-weight:100;color:#1c8093;padding:10px;text-align:center;width:100%;
box-sizing:border-box;-moz-box-sizing:border-box;
margin-bottom:10px;white-space:nowrap;
}

.popups .editVariationsWrap .var-listing .variation-list-btn.highlight,
.popups .editVariationsWrap .var-listing .variation-list-btn.highlight.active{
border:solid 1px #ffaaf9;
color:#ffaaf9;
background-color:#130e1d;
}

.popups .editVariationsWrap .var-listing input.add-new-variation::placeholder,
.popups .editFieldsWrap .add-new-field::placeholder,
.popups .editFieldsWrap .localWrap .add-html-btn{
font-style:italic;
color:#ffaaf9;
}

.popups .editVariationsWrap .var-listing input.add-new-variation,
.popups .editFieldsWrap .add-new-field{
background-color:transparent;
border:none;
text-align:center;
height:44px;
font-size:18px;
text-align: left;
width:100%;
outline:none;
padding:10px;
}

.popups .editFieldsWrap .add-new-field{
text-align:left;font-weight:bold;
}

.popups .editVariationsWrap .var-listing input.add-new-variation:focus,
.popups .editFieldsWrap .add-new-field:focus{
background-color:#0a0f13;border:solid 1px #233133;
color:#1c8093;
box-sizing:border-box;-moz-box-sizing:border-box;
margin-bottom:10px;white-space:nowrap;
}

.popups .editFieldsWrap .add-new-field:focus{
color:#51b1c7;
}

.popups .editVariationsWrap .var-listing .variation-list-btn:hover,
.popups .editVariationsWrap .var-listing .variation-list-btn.active{
background-color: #308093;
  color: #0a0f13;
  box-shadow: inset 0 0 20px #334454;
  border: solid 1px #0a0f13;
  font-weight: bold;
  -webkit-transition: border .2s linear, color .2s linear, background-color .2s linear;
  -moz-transition: border .2s linear, color .2s linear, background-color .2s linear;
  -ms-transition: border .2s linear, color .2s linear, background-color .2s linear;
  -o-transition: border .2s linear, color .2s linear, background-color .2s linear;
  transition: border .2s linear, color .2s linear, background-color .2s linear;
}

.popups .editVariationsWrap .var-listing .variation-list-btn span{
display:inline-block;white-space:nowrap;
}

.popups .editVariationsWrap .var-screens{
left:0;border-left:solid 200px transparent;
width:100%;
}

.popups .editVariationsWrap .var-screen{
display:none;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;
padding:20px;
}

.popups .editVariationsWrap .var-screen.active{
display:block;
}

.popups .editVariationsWrap .var-screens .no-variations-msg{
display:none;
text-align:right;
font-style:italic;
font-size: 100px;
line-height: 110px;
opacity: .05;
letter-spacing: 10px;
}

.popups .editVariationsWrap.no-variations .var-screens .no-variations-msg{
  display:block;
}

.popups .editVariationsWrap .top-fields{
height: 30px;
line-height: 30px;
font-size:0;
}

.popups .editVariationsWrap .top-fields > *{
font-size:16px;display:inline-block;vertical-align:top;
box-sizing:border-box;-moz-box-sizing:border-box;
height:inherit;line-height:inherit;
}

.popups .editVariationsWrap .top-fields .var-field{
padding:0 20px;white-space:nowrap;position:relative;
}

.popups .editVariationsWrap .top-fields .var-field:first-child{
padding-left:0;width:40%;
}

.popups .editVariationsWrap .top-fields .var-field:nth-child(2){
width:52%;
}


.popups .editVariationsWrap .top-fields .var-field:last-child{
width:8%;padding-right:0;
}

.popups .editVariationsWrap .delete-variation-btn{
bottom:0;
}

.popups .editVariationsWrap .var-screen.inherited-variation .delete-variation-btn{
display:none;
}

.popups .editVariationsWrap .var-field label{
width:20%;
display:inline-block;
height:inherit;
line-height:inherit;
text-align: left;
font-style: italic;
color: #195e69;
padding-right:20px;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.popups .editVariationsWrap .var-field input{
width:80%;display:inline-block;height:inherit;line-height:inherit;
padding:10px;font-size:16px;font-weight:bold;
box-sizing:border-box;-moz-box-sizing:border-box;
background-color:#1d2d31;border:none;color:#41b1c7;
outline:none;
}

.popups .editVariationsWrap .code-wrap{
position:absolute;top:65px;bottom:150px;right:20px;left:20px;margin:auto;
}

.popups .editVariationsWrap .preview-wrap{
height:150px;
position:absolute;bottom:0;left:0;right:0;margin:auto;
}

.popups .editVariationsWrap .code-head,
.popups .editVariationsWrap .code-foot{
height:25px;line-height:25px;
}

.popups .editVariationsWrap .code-foot{
position:absolute;bottom:0;left:0;right:0;margin:auto;
}

.popups .editVariationsWrap .code-scroll{
position:absolute;top:25px;bottom:25px;left:0;right:0;
overflow-y:auto;
}

.popups .editVariationsWrap .code-scroll .syntaxler{
margin-bottom:0;
}

.popups .editVariationsWrap .preview-wrap .preview-head{
font-size:0;padding:0 20px;
height:35px;line-height:35px;
}

.popups .editVariationsWrap .preview-wrap .preview-content{
position:absolute;top:55px;left:20px;right:20px;bottom:20px;
}

.popups .editVariationsWrap .preview-wrap .preview-content textarea{
resize:none;display:block;width:100%;height:100%;
background-color:#1e2d31;border:none;outline:none;
color:#41b1c7;font-size:18px;line-height:24px;padding:10px;
border:solid 1px transparent;
  -webkit-transition: border .2s linear;
  -moz-transition: border .2s linear;
  -ms-transition: border .2s linear;
  -o-transition: border .2s linear;
  transition:border .2s linear;
}

.popups .editVariationsWrap .preview-wrap .preview-content textarea.error{
background-color:#483535;
color:#caa9a9;
}

.popups .editVariationsWrap .preview-wrap .preview-content textarea.updated{
border: solid 1px #ffaaf9;
}

.popups .editVariationsWrap .preview-wrap .preview-head > *{
font-size:16px;display:inline-block;
box-sizing:border-box;-moz-box-sizing:border-box;

}

.popups .editVariationsWrap .preview-wrap .preview-head label{
width:30%;
font-style: italic;
color: #255e69;
}

.popups .editVariationsWrap .preview-wrap .preview-head .update-preview-btn{
  width:70%;text-align:center;
  background-color: #0a0f13;
  color: #308094;
  border: solid 1px #233033;
  box-shadow: inset 0 0 20px #04070a;
}

.popups .editVariationsWrap .preview-wrap .preview-head .update-preview-btn:hover{
background-color: #308093;cursor:pointer;
  color: #0a0f13;
  box-shadow: inset 0 0 20px #334454;
  border: solid 1px #0a0f13;
  font-weight: bold;
}

.popups .see-file .file-path{
cursor:pointer;
margin: 0;
margin-bottom: 10px;
}

.popups .see-file .file-path:before{
  content: "";
  display: inline-block;
  margin-right:5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #51b1c7;
}

.popups .see-file.open .file-path:before{
  border-width: 10px 5px 0 5px;
  border-color: #51b1c7 transparent transparent transparent;
}

.popups .see-file .data-wrap{
display:block;overflow:hidden;position:relative;
left:-1000px;top:-1000px;width:0;height:0;
}

.popups .see-file.open .data-wrap{
left:0;top:0;width:auto;height:auto;
}

.popups [popup-id="create_new_page"] .browse-wrap,
.popups [popup-id="create_new_page"] .path-wrap{
position:absolute;left:0;right:0;margin:auto;
box-sizing:border-box;-moz-box-sizing:border-box;
}

.popups [popup-id="create_new_page"] .browse-wrap{
top:0;
bottom:100px;
box-sizing:border-box;
-moz-box-sizing:border-box;
padding: 20px 25px;
overflow:auto;
overflow-x:hidden;
overflow-y:auto;
}

.popups [popup-id="create_new_page"] .path-wrap{
bottom:0;height:100px;border-top:solid 3px #315058;
}

.popups [popup-id="create_new_page"] .path-wrap .path-row{
line-height:50px;position:relative;height:50%;
}

.popups [popup-id="create_new_page"] .path-wrap svg{
width:27px;height:27px;display:inline-block;
vertical-align:middle;margin-left:10px;
}

.popups [popup-id="create_new_page"] .path-wrap svg path{
fill:#258093;
}

.popups [popup-id="create_new_page"] .path-wrap input,
.popups [popup-id="create_new_page"] .path-wrap input:focus{
box-sizing:border-box;
-moz-box-sizing:border-box;
display:inline-block;
width:100%;
height:100%;
border:none;
border-left:solid 120px transparent;
background-color:transparent;
color: #51b1a6;
font-size:18px;
outline:none;
box-sizing:border-box;
-moz-box-sizing:border-box;
padding:0 20px;
}

.popups [popup-id="create_new_page"] .path-wrap label{
position:absolute;
left:0;
top:0;
bottom:0;
margin:auto;
width:120px;
height:100%;
padding-left: 25px;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.popups [popup-id="create_new_page"] .path-wrap .page-id input{
border-right:solid 180px transparent;
}

.popups [popup-id="create_new_page"] .path-wrap input::placeholder{
color:#1f444e;font-style:italic;
}

.popups [popup-id="create_new_page"] .path-wrap .folder-scope{
border-bottom:solid 1px #315058;
}

.popups [popup-id="create_new_page"] .path-wrap .page-id .create-file-btn{
width:180px;height:100%;right:0;top:0;bottom:0;margin:auto;position:absolute;
line-height:50px;text-align:center;cursor:text;background-color:#315058;
color:#0d1619;font-size:30px;font-weight:600;
}

.popups [popup-id="create_new_page"] .path-wrap .page-id .create-file-btn.enabled{
background-color:#ffaaf9;opacity:.8;cursor:pointer;
}

.popups [popup-id="create_new_page"] .path-wrap .page-id .create-file-btn.enabled:hover{
opacity:1;
}
