body{

    background-color:#002b36;
    max-width:100%;
    padding-bottom:200px;
}

body{
     font-family:Arial, sans-serif;
    font-size:14px;
    color:#586e75;
}

.main-title{
    text-align:center;margin-bottom:50px;
}

.main-title > div{
    border:solid 4px;display:inline-block;
    padding:13px;
    box-sizing:border-box;-moz-box-sizing:border-box;
    min-width:374px;
}

.main-title h1{
    margin:0;font-size:100px;line-height:100px;
    white-space:nowrap;
}

.main-title h2{
    margin:0;font-size:21px;line-height:21px;
    white-space:nowrap;
}

#browse-content{
    text-align:center;padding:0 20px;
}