.syn-line html_comment{
    color:#75b775;
}

.syn-line start_html_comment,
.syn-line end_html_comment{
    color:#458645;
}

.syn-line script_comment,
.syn-line script_ml_comment
{
    color:#666569;
}

.syn-line start_script_comment,
.syn-line start_script_ml_comment,
.syn-line end_script_ml_comment
{
    color:#4e4c54;
}

.syn-line token{
    color:#f18181;background-color:#a92ba930;
}

.syn-line token var_id{
    color:#c048c1;
}

.syn-line token casing{
    color:#ab7fcc;
}

.syn-line start_tag,
.syn-line end_tag{
    color:#55c8ff;
}

.syn-line block_head{
    color: #ffa14d;
    background-color:rgba(255,255,255,.05);
}

.syn-line block_type{
    color:#ff7800;
}

.syn-line start_cond,
.syn-line end_cond{
    color:#e8c483;
}

.syn-line attr_key{
    color:#75b775;
}

.syn-line attr{
    color: #ffa14d;
}

/*.syn-line no_close{
    border-bottom:dashed 1px #E91E63;
}

.syn-line no_close > *{
    color:#E91E63;
}*/

.syn-line lit{
    color:#75b775;
}

.syn-line start_lit,
.syn-line end_lit{
    color:#5bc35b;
}

.syn-line start_block,
.syn-line end_block{
    color:#f5cb8c;
}

.syn-line start_curly,
.syn-line end_curly{
    color:#ff84d8;
}

.syn-line start_paren,
.syn-line end_paren{
    color:#7de0f7;
}

.syn-line start_brack,
.syn-line end_brack{
    color:#a9ff00;
}

.syn-line key_word{
    color:#55c8ff;
}

.syn-line dot_prop{
    color:#55c8ff;
}

.syn-line reg_str{
    color:#ffa14d;
}

.editVariationsWrap .syn-line word_val{
    color:#fb4aee;
}