/*start textarea*/
.syntaxler{
    position:relative;
    font-size: 0;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    background-color: #130e1d;
    border: solid 1px #1e1a38;
    overflow: auto;
    overflow-y: hidden;
    
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding: 10px 0; /*spacing to account for scrollbars*/
}

.syntaxler::-webkit-scrollbar{
  width: 10px;
  height:10px;
  background-color: transparent;
  padding:5px;
}

.syntaxler::-webkit-scrollbar-thumb {
  border-radius:3px;
  background-color: #232044;
}

.syntaxler::-webkit-scrollbar-corner{
  display:none;
}

.syntaxler textarea.init-syntaxler,
.syntaxler textarea.init-syntaxler:focus,
.syntaxler textarea.init-syntaxler::selection,
.syntaxler .syntax-div{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding:0;
    display:block;
    font-size:18px;
    font-weight:normal;
    letter-spacing: 0px;
    line-height:25px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    resize: none;
    min-height:100%;
    min-width:100%;
}

.syntaxler.has-line-numbers .syntax-div{
    counter-reset: lines;
}

.syntaxler.has-line-numbers .syntax-div .syn-line:before{

      counter-increment:lines;
      content: counter(lines);

    display:inline-block;
    font-size: 60%;
    background-color:#232044;
    border: solid 1px #45407d;
    border-left: none;
    border-top: none;
    color:#c09cd0;
    width: 30px;
    height:inherit;
    line-height:inherit;
    vertical-align:top;
    text-align:right;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-right:10px;
    letter-spacing:0;
    position:absolute;
    left:-42px;
    overflow: hidden;
    opacity: .7;
}

.syntaxler.has-line-numbers textarea.init-syntaxler,
.syntaxler.has-line-numbers textarea.init-syntaxler:focus,
.syntaxler.has-line-numbers textarea.init-syntaxler::selection,
.syntaxler.has-line-numbers .syntax-div{
    padding-left:42px;
}

.syntaxler .syntax-div .syn-line{
    white-space: pre;
    line-height:25px;
    height:25px;
    display: block;
    vertical-align: top;
    position:relative;
    background-color:#130f1d;
    margin: 0;
    font-family: inherit !important;
}

.syntaxler .syntax-div .syn-line *{
    white-space: pre;
    display:inline-block;
    border-bottom:solid 1px transparent;
    -webkit-transition:border-bottom .2s linear, color .2s linear;
    -moz-transition:border-bottom .2s linear, color .2s linear;
    -ms-transition:border-bottom .2s linear, color .2s linear;
    -o-transition:border-bottom .2s linear, color .2s linear;
    transition:border-bottom .2s linear, color .2s linear;
}

.syntaxler .syntax-div .syn-line .eol{
    display:inline-block;
}

.syntaxler textarea.init-syntaxler::selection{
    color:transparent;background-color:rgba(255, 109, 225, 0.18) !important;
}

.syntaxler .syntax-div{
    overflow:visible;
    min-width:100%;
    min-height:100%;
    color: #d0d0d0;
}

.syntaxler textarea.init-syntaxler,
.syntaxler textarea.init-syntaxler:focus,
.syntaxler textarea.init-syntaxler::selection{
  border:none;
  outline:none;
  white-space: pre;
  background-color:transparent;
  caret-color:#ffaaf9;
  color: transparent;
  /*color: #6767ca75; debug text with syntax pairing*/
}

.syntaxler.show-textarea-text textarea.init-syntaxler,
.syntaxler.show-textarea-text textarea.init-syntaxler::selection{
    color: #68a9c1;
}

.syntaxler textarea.init-syntaxler,
.syntaxler textarea.init-syntaxler::selection{
    -webkit-transition:color .4s ease-out, background-color .4s ease-out;
    -moz-transition:color .4s ease-out, background-color .4s ease-out;
    -ms-transition:color .4s ease-out, background-color .4s ease-out;
    -o-transition:color .4s ease-out, background-color .4s ease-out;
    transition:color .4s ease-out, background-color .4s ease-out;
}

.syntaxler .syn-line{
    -webkit-transition:color .3s ease-in, background-color .3s ease-in;
    -moz-transition:color .3s ease-in, background-color .3s ease-in;
    -ms-transition:color .3s ease-in, background-color .3s ease-in;
    -o-transition:color .3s ease-in, background-color .3s ease-in;
    transition:color .3s ease-in, background-color .3s ease-in;
}
/*end textarea*/

/*start syntax highlights*/

.syntaxler .syntax-div .syn-line .no-end,
.syn-line .no-start{
    border-bottom:solid 1px red;
    position:relative;
    color:#fd9898;
}

.syntaxler .syntax-div .syn-line .no-end:after,
.syntaxler .syntax-div .syn-line .no-start:before{
    content:"";display:block;
    position:absolute;bottom:-1px;margin:auto;


    width: 0;height: 0;
    border-style: solid;
    border-width: 7px;
    border-color: red;
}

.syntaxler .syntax-div .syn-line .no-end:after{
    right:-1px;
    border-right-width:0;
    border-bottom-width:0;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
}

.syntaxler .syntax-div .syn-line .no-start:before{
    left:-1px;
    border-left-width:0;
    border-bottom-width:0;
    border-top-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;
}

/*end syntax highlights*/

/*start float-menu*/
.syn-float-menu{
    position:fixed;left:0;top:0;width:200px;height:180px;
    background-color:#223238;display:block;z-index:9999;
    border:solid 2px #091013;border-radius:5px;box-shadow:-3px 3px 3px rgba(0,0,0,.2);
}

.syn-float-menu .close-btn{
    display:block;width:20px;height:18px;line-height:18px;
    background-color:#223238;
    position:absolute;right:-9px;top:-9px;
    z-index:9999;border-radius:9px;cursor:pointer;
}

.syn-float-menu .close-btn:after{
    display:block;line-height:inherit;
    content:"X";width:100%;text-align:center;
    color:#091013;font-weight:900;
}

.syn-float-menu .float-content{
    background-color:#0e181d;
    border:solid 2px #091013;
    position:absolute;
    left:10px;
    top:10px;
    right:10px;
    bottom:10px;
    margin: auto;
    box-sizing:border-box;-moz-box-sizing:border-box;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:auto;
}

.syn-float-menu .float-content .option-row{
    display:block;
    line-height:22px;height:22px;
    white-space:nowrap;
    font-size:0;
    border-bottom:solid 1px #223238;
}

.syn-float-menu .float-content .option-row:last-child{
    border-bottom:none;
}

.syn-float-menu .float-content .option-wrap{
    line-height:inherit;height:inherit;
    white-space:nowrap;
    display:inline-block;
    font-size:14px;
    box-sizing:border-box;-moz-box-sizing:border-box;
    padding:0 5px;
}

.syn-float-menu .float-content .option-wrap + .option-wrap{
    border-left:solid 1px #223238;
}

.syn-float-menu .float-content .option-item{
    line-height:inherit;height:inherit;
    white-space:nowrap;
    display:block;
}

.syn-float-menu .float-content .option-item .option-icon{
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align: top;
    line-height:inherit;
    margin-right:6px;
}

.syn-float-menu .float-content .option-item .option-icon svg path{
    fill:#51b1c7;
}

.syn-float-menu .float-content .option-label{
    line-height:inherit;
    height:inherit;
    white-space:nowrap;
    display: inline-block;
    cursor:pointer;
    color:#51b1c7;
}

.syn-float-menu .float-content [data-key].selected .option-label,
.syn-float-menu .float-content .option-label:hover{
    color:#ffaaf9;
}



.float-content::-webkit-scrollbar{
  width: 10px;
  height:10px;
  background-color: transparent;
  padding:5px;
}

.float-content::-webkit-scrollbar-thumb {
  border-radius:3px;
  background-color: #232044;
}

.float-content::-webkit-scrollbar-corner{
  display:none;
}
/*end float-menu*/
